/* ManageUnits.css */

.new-manager-supplier {
    padding: 20px 8px;
    width: 100%;
}

.new-manager-supplier-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.new-manager-supplier-heading h5 {
    font-size: 24px;
    color: #333;
}

.new-manager-supplier-heading input {
    width: 250px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid lightgray;
    outline: #007bff;
    border-radius: 5px;
}

.new-manager-supplier-heading input:focus {
    border: 1px solid #007bff;
}

.new-manager-supplier-heading button {
    padding: 10px 25px;
    background-color: #007bff;
    color: #fff;
    width: fit-content;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-manager-supplier table {
    width: 100%;
    border-collapse: collapse;
}

.new-manager-supplier th,
.new-manager-supplier td {
    padding: 10px;
    text-align: center;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.new-manager-supplier th:first-child,
.new-manager-supplier td:first-child {
    border-left: none;
}

.new-manager-supplier tbody tr:nth-child(2n),
.new-manager-supplier-pagination ul li:nth-child(2) {
    background-color: #45be8a49;
}

.new-manager-supplier tbody tr:nth-child(2n-1),
.new-manager-supplier-pagination ul li:first-child,
.new-manager-supplier-pagination ul li:last-child {
    background-color: #1ac27c75;
}

.new-manager-supplier th {
    background-color: #347AB8;
    color: white;
}

.new-manager-supplier-table td svg {
    font-size: 25px;
    margin-left: 10px;
}

.new-manager-supplier-table td svg:first-child {
    color: #007bff;
}

.new-manager-supplier-table td svg:last-child {
    color: rgba(255, 0, 0, 0.641);
}

.new-manager-supplier-pagination {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.new-manager-supplier-pagination ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.new-manager-supplier-pagination ul li {
    border: 1px solid green;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.purchase-form-inputs_container .custom-dropdown {
    position: relative;
}

.purchase-form-inputs_container .custom-dropdown select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.dueInvoice-edit {
    color: #007bff !important;
}
